<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Monolithic Express Docker Template</title>
    <link rel="icon" type="image/x-icon" href="/images/icons/favicon.ico" />
    <link rel="stylesheet" href="/css/style.css"/>
    {# <link rel="stylesheet" href="/css/bootstrap.min.css"/> #}
    
    <script src="/js/alpine.js" defer></script>
    <script src="/js/htmx.js"></script>
    {# <script src="/js/bootstrap.js"></script> #}
</head>