{% set nav = "px-2 py-1 rounded-md shadow-sm hover:bg-hoverBraincore" %}

<nav class="flex items-center justify-between bg-braincore p-3 shadow-lg">
    <a href="/" class="flex items-center gap-1">
        <img src="/images/braincore.png" alt="logo-braincore" width="40px">
        <p class="font-bold">BRAINCORE.ID</p>
    </a>
    <div class="flex gap-2">
        <a href="/" class="{{nav}}">Dashboard</a>
        <a href="/" class="{{nav}}">About</a>
        <a href="/" class="{{nav}}">Contact</a>
    </div>
</nav>