{% extends "layouts/masterLayout.njk" %}
{% import "components/button.njk" as btn %}

{% block content %}
    {# start content #}
    <div class="mt-7 p-3 flex-auto" x-data="{name: 'Anjay Template'}">
        <div class="flex flex-col items-center">
            <h1 class="text-xl">{{ title }} 🥰</h1>
            <p class="text-xl">{{ message }}</p>
            <img src="https://i.pinimg.com/originals/e5/d8/ee/e5d8ee323f9526725d6ad355eaed7b05.gif" alt="image" width="400px">
            <p class="text-xl" x-text="name"></p>
        </div>
        <div class="text-center mt-3">
            {# this is components with props ala nunjucks, but firts import the components in the top #}
            {{ btn.button("Say Hi", "btn-hi") }}
        </div>
    </div>
    {# end content #}

    {# start call/include the special scripts that this file uses #}
    {# <script src="/js/scripts/index.js"></script> #}
    {# end call/include custom script #}
{% endblock content %}
