{% extends "components/masterLayout.njk" %}

{% block content %}
    <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">400 Bad Request</h4>
            <p>Client side error!</p>
        </div>
    </div>
{% endblock %}