{% extends "components/masterLayout.njk" %}

{% block content %}
    <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">404 Not Found</h4>
            <p>URL not found!</p>
        </div>
    </div>
{% endblock %}