{% extends "layouts/masterLayout.njk" %}

{% block content %}
    <div class="alert alert-danger flex flex-col items-center gap-5" role="alert">
        <h4 class="alert-heading font-bold text-2xl">404 Not Found</h4>
        <img src="images/sorry.gif" alt="error-images" width="15%">
        <p class="font-bold text-lg">URL not found!</p>
    </div>
{% endblock %}